@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
	font-family: GT Walsheim Pro Regular;
	src:
		local('GT Walsheim Pro Regular'),
		local('GTWalsheimProRegular'),
		url('/fonts/GTWalsheimPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: GT Walsheim Pro;
	src:
		local('GT Walsheim Pro'),
		local('GT Walsheim Pro Bold'),
		url('/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: '0xProto';
	src: url('/fonts/0xProto-Regular.ttf') format('truetype');
}

@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
/* @plugin '@tailwindcss/typography'; */

@plugin "daisyui" {
	themes: nord --default, dark --prefersdark, nord;
}

body {
	scroll-behavior: smooth;

	/* position: relative; */
	transition: all 3s ease-in-out;

	line-height: 2;
	transition: all 0.5s ease-in-out;
}

.poimandres {
	max-width: 768px;
	font-size: 14px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 10px;
	border: 1px solid #a6accd22;
	border-radius: 10px;
	font-family: '0xProto';
}

code {
	font-family: '0xProto';
	line-height: 1.5;
	font-weight: 300;
}

p {
	line-height: 1.75;
	font-family: 'GT Walsheim Pro Regular';
	letter-spacing: 1.4px;
}

p>code {
	background-color: #a6accd22;
	letter-spacing: 0;
	padding: 1px 5px;
	border-radius: 5px;
}

.pre-header {
	max-width: 768px;
	position: relative;
}

.copy-button {
	text-align: center;
	background-color: transparent;
	height: 41.5px;
	border: none;
	position: absolute;
	top: 1px;
	right: 10px;
}

.lucide-clipboard {
	fill: none;
	stroke: rgba(166, 172, 205, 1);
	width: 15px;
	height: 15px;
	cursor: pointer;
}

h2 {
	scroll-margin: 120px;
	/* color: #f1f5f9; */
	font-weight: 600;
	font-size: 20px;
	font-family: 'GT Walsheim Pro';
}

h6 {
	display: none;
	text-align: center;
	font-style: italic;
	font-weight: 300;
}