@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

@font-face {
	font-family: GT Walsheim Pro Regular;
	src:
		local('GT Walsheim Pro Regular'),
		local('GTWalsheimProRegular'),
		url('/fonts/GTWalsheimPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: GT Walsheim Pro;
	src:
		local('GT Walsheim Pro'),
		local('GT Walsheim Pro Bold'),
		url('/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
/* @plugin '@tailwindcss/typography'; */

@plugin "daisyui" {
	themes: nord --default, dark --prefersdark, nord;
}

/* * {
	font-family: 'GT Walsheim Pro Regular';
} */